footer {
  background-color: #333645;
  color: white;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  color: #333645;
}

p, h2, h3 {
  margin-left: 15px;
}

.newsletter {
  background-color: #444;
}

.btn-telecoms {
  color: #d64541;
  border: #d64541;
}

.btn-web {
  color: #926fb1;
  border: #926fb1;
}

.btn-software {
  color: #67809f;
  border: #67809f;
}

.btn-google {
  background-color: #4387f6;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.btn-trustpilot {
  background-color: #00b67b;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.btn-inverse {
  background-color: #272936;
  color: white;
  padding: 20px;
}

.brand-background {
  background-color: #333645;
}

.required {
  color: red;
}

li {
  list-style: none;
}

.glythicon {
  position: relative;
}

.glythicon-search::before {
  content: "\E003";
}

.center {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
}

#copyright {
  Padding-top: 5px;
  border-top: solid white 1px;
}

h4 {
  text-transform: uppercase;
}

li > a {
  color: white;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}

#ChatBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#ChatBox:hover {
  cursor: pointer;
}

main, footer, form {
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  gap: 10px;
}

.row {
  flex-direction: row;
  justify-content: space-around;
}

.col {
  flex-direction: column;
}

.col-3 {
  flex-direction: column;
  justify-content: space-around;
}

#Subscribe {
  background-color: lightgray;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
}

.Our-Services {
  border: solid white 1px;
  border-radius: 5px 5px 5px 5px;
  padding: 5em white;
}

.item {
  flex: 50%;
  margin: 5px;
}

.item-viewall {
  margin-left: auto;
}

.item-button {
  width: auto;
  margin-top: auto;
}

.item-services {
  box-shadow: 0 0 5px #bebebe;
  height: 300px;
}

.item-h2 {
  margin-right: auto;
}

.posted {
  padding-top: 20px;
  border-top: solid 1px grey;
}

.latestnewsimage {
  width: 100%;
}

.news-item1 {
  color: #67809f;
}

.news-item1-btn {
  background-color: #67809f;
  border-top: 5px 5px;
  border-bottom: 5px 5px;
  border-style: none;
}

.news-item2 {
  color: #926fb1;
}

.news-item2-btn {
  background-color: #926fb1;
  border-top: 5px 5px;
  border-bottom: 5px 5px;
  border-style: none;
}

.news-item3 {
  color: #d64541;
}

.news-item3-btn {
  background-color: #d64541;
  border-top: 5px 5px;
  border-bottom: 5px 5px;
  border-style: none;
}

.reverse-color {
  background-color: #333645;
  color: white;
}

.clientthoughts {
  align-items: stretch;
}

.images {
  width: 100%;
}

.banner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/home-oaVs.png");
  height: 75vh;
  width: 100%;
  color: white;
}

.banner-h2 {
  margin-top: 5%;
  font-size: 4em;
  margin-bottom: 0;
}

.banner-p {
  margin-top: 10px;
  font-size: 1em;
}
