footer{
    background-color:#333645;
    color: white;
}
#cookies{
    position: fixed;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border:none;
    width:40vw;
    height:45vh;
    text-align: center;
    margin-left: 25%;
}
.cookie-btn{
    margin-top: auto;
    padding: 10px;
    border:none;
}
.accept-h:hover #cookies{
    display: none;

}
body {
    margin-left: 0px;
    margin-right: 0px;
    color:#333645;
}
p,h2,h3{
    margin-left: 15px;
}
.newsletter {
    background-color: #444;
}

.btn-google{
    background-color:#4387f6;
    color: white;
    padding: 20px;
    margin-top: auto;
}
.btn-trustpilot{
    background-color:#00b67b;
    color: white;
    padding: 20px;
    margin-top: auto;
}
.btn-inverse{
    background-color:#272936;
    color: white;
    padding: 20px;
    align-self: flex-start;
}
.brand-background{
    background-color:#333645;
}
.required{
    color:red;
}
li{
    list-style:none;
}
.glythicon{
    position:relative;
}
.glythicon-search::before{
    content:"\E003";
    position: absolute;
}
.center {
    margin-left: 10px;
    margin-right: 10px;
    width:90%;
}
.copyright{
    padding-top: 5px;
    border-top: solid white 1px;
    margin-left: 10px;
    margin-right: 10px;
}
a, a:visited{
    text-decoration: none;
    color: #333645;

}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 1em;
}
h2{
    font-size: 3em;
}
#sign-up{
    margin-left: 0%;
}
h4 {
    text-transform: uppercase;
    margin-left: 20px;
}
li>a{
    color:white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.footer-links{
    color:white;
    &:visited{
        color: white;
    }
}
#ChatBox{
    position: fixed;
    bottom: 20px ;
    right: 20px;
    border-radius:50%;
    height: 60px;
    width: 60px;
    color: white;
    background-color: #333645;
    &:hover{
        cursor: pointer;
    }
}
main,footer,form{
    margin-bottom: 0px;
    margin-top: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &>.btn{
        width:100%;
        flex-grow: auto;
    }
    &-3{
        column-count: 3;
        width:100%;
        margin-left: 0;
        flex:auto;
    }
    &-4{
        flex:auto;
        margin-left: 0;
        column-count: 4;
        width:100%
    }
    
}
.col{
    display: flex;
    flex-direction: column;
    &-3{
        flex-direction: column;
        justify-content: space-around;
        column-count: 3;
    }
    &>button{
        margin-top:auto;
        margin-bottom: 20px;
        align-self:center;
    }
    &>.btn-inverse{
        align-self: flex-start;
    }
}

#Subscribe{
    background-color: lightgray;
}
button {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    border: none;
}
.Our-Services{
    border: solid white 1px ;
    border-radius: 5px 5px 5px 5px;
    padding:5em white;
    text-align: center;
    margin-left: 2em;
}
#h2-left{
    text-align: left;
}
.item {
    flex: 50%;
    margin: 5px;
    &-viewall{
        margin-left: auto;
        align-self: center;
        text-decoration: none;
        font-size: 2em;
    }
    &-button{
        width:100%;
        margin-top: auto;
        margin-bottom: 5px;
    }
    &-services{
        box-shadow: 0 0 5px #bebebe;
        height:300px;
        border-radius: 8%;
    }
    &-h2{
        margin-right: auto;
    }
}
.posted{
    padding-top: 20px;
    border-top: solid 1px grey;
}
.gap {
    gap: 20px 20px;
}
.latestnewsimage{
    width:100%;
}
.news{
    margin-left: 10px;
}
.news-item{
    &1{
        &-btn{
            background-color: #67809f;
            color:white;
            border-top: 5px 5px;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
        }
        color:#67809f;
    }
    &2{
        &-btn{
            background-color: #926fb1;
            color:white;
            border-top: 5px 5px;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
        }
        color:#926fb1;
    }
    &3{
        &-btn{
            background-color: #d64541;
            color:white;
            border-top: 5px 5px;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
        }
        color:#d64541;
    }
}
.reverse-color{
    background-color: #333645;
    color:white;
}

.images{
    width: 100%;
}

.banner {
    background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url("../img/home-oaVs.png");
    height:75vh;
    width: 100%;
    color: white;
    &-h2{
        margin-top: 5%;
        font-size: 4em;
        margin-bottom: 0;
    }
    &-p{
        margin-top: 10px;
        font-size: 1em;
    }
}
.start{
    align-self: flex-start;
    margin-right: auto;
}
.end{
    margin-left: auto;
    align-items: flex-end;
}
i{
    align-self: center;
}
.icon{
    &-BS{
        color:#67809f;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #67809f;
        }
    }
    &-IT{
        color:#4387f6;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #4387f6;
        }
    }
    &-DM{
        color:#00b67b;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #00b67b;
        }
    }
    &-TS{
        color:#d64541;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #d64541;
        }
    }
    &-WD{
        color:#926fb1;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #926fb1;
        }
    }
    &-CS{
        color: #f62459;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #f62459;
        }
    }
    &-DC{
        color:#d64541;
        margin-top: 10px;
        &-img{
            margin-top: 20px;
            color: white;
            border-radius: 50%;
            padding: 10px;
            background-color: #d64541;
        }
    }
}  
.ReadMore{
    justify-content: center;
    align-self: flex-start;
}
.btn{
    align-self: flex-start;
    width:100%;
}
.move-up{
    @include move-up();
}
.BS {
    @include Move-up(white,#67809f);
    &:hover i[class*="BS"], button[class*="BS-button"]{
        color: #67809f;
        background-color: white;
    }
}
.IT{
    @include Move-up(white,#4387f6);
    &:hover i[class*="IT"], button[class*="IT-button"]{
        color: #4387f6;
        background-color: white;
    }
}
.DM{
    @include Move-up(white,#00b67b);
    &:hover i[class*="DM"], button[class*="DM-button"]{
        color: #00b67b;
        background-color: white;
    }
}
.TS{
    @include Move-up(white,#d64541);
    &:hover i[class*="TS"], button[class*="TS-button"]{
        color: #d64541;
        background-color: white;
    }
}
.WD{
    @include Move-up(white,#926fb1);
    &:hover i[class*="WD"], button[class*="WD-button"]{
        color: #926fb1;
        background-color: white;
    }
}
.CS{
    @include Move-up(white,#f62459);
    &:hover i[class*="CS"], button[class*="CS-button"]{
        color: #f62459;
        background-color: white;
    }
}
.DC{
    @include Move-up(white,#d64541);
    &:hover i[class*="DC"], button[class*="DC-button"]{
        color: #d64541;
        background-color: white;
    }
}

