@media screen and (max-width:496px){
    .container-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:497px) and (max-width:721px) {
    .container-footer{
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        &>.footer-link-section{
            flex: 0 0 50%;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
        &>.offices{
            flex: 0 0 50%;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
        
    }
}

@media screen and (min-width:617px) and (max-width:921px){
//inverse section
.inverse-row{
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    &>*{
        flex: 0 0 45%;
    }
}
}
@media screen and (min-width:722px) and (max-width:1259px){
//footer
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex:0 0 95%;
    &>.footer-link-section{
        display: flex;
        flex: 0 0 45%;
        width:100%;
        flex-direction: column;
        &:first-child{
            justify-self: center;
            margin-left: auto;
        }
        &:last-child{
            justify-self: center;
            margin-right: auto;
        }
    }
    &>.offices{
        flex: 0 0 33%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    
}
}
@media screen and (max-width:766px){
    .container-news{
        display: flex;
        flex-direction: column;
        &>.news-footer{
            justify-content: center;
            text-align: center;
        }
        &>.news-header>a{
            display: none;
        }
    }
    .container-our-services{
        &>.our-services-header{
            &>a{
                display: none;
            }
        }
        &>.our-services-footer{
            display: flex;
            justify-content: center;
            flex: 0 0 100%;
            margin-top: 10px;
        }
        &>*>.our-services-top{
            display: flex;
            flex-direction: column;
        }
        &>*>.our-services-bottom{
            display: flex;
            flex-direction: column;

        }
    }
    .container-header{
        display: flex;
        flex-wrap: wrap;
        margin-left: 2em;
        margin-right: 2em;
        &>img{
            order: -5;
            flex: 0 0 50%;
            min-width: 0%;
            max-width: 300px;
            font-size: 2em;
            height: auto;
            align-self: center;
        }
        &>i{
            justify-content: end;
            margin-left: auto;
        }
        &>.btn-sidebar{
            justify-content: end;
        }
        &>.heading-search{
            display: flex;
            order:5;
            flex: 0 0 100%;
            align-self: center;
            margin-bottom: 0;

            display:inline-block;
            position: relative;

            &>.btn-search{
                color: #444;
                background: none;
                position: absolute;
                right:6px;
            }
            &>.search-box{
                border-radius: 4px;
                border-color: #bebebe;
                background-color: #e2e2e2;
            }
        }
        &>.heading-support{
            display: none;
        }
    }
    .logo-row{
        &>*{
            display: none;
        }
    }
    .container-banner{
        text-align: center;
        .banner-div{
            margin-bottom: 10px;
            & > p{
                margin-left: -15px;
            }
        }
    }
}
@media screen and (min-width:767px){
    .container-our-services{
        
        &>.our-services-footer{
            &>a{
                display: none;
            }
        }
    }
    .logo-row{
        display: flex;
        flex-direction: row;
        flex:0 0 95%;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
        &>.logo-images{
            position: relative;
            display: inline-block;
            & .colored{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }
            &:hover .colored{
                display: inline;
            }
            
        }
    }
}
@media screen and (min-width:767px) and (max-width:991px){
    .container-our-services{
        &>*>.our-services-top{
            display: flex;
            flex-direction: column;
        }
        &>*>.our-services-bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &>*{
                display: flex;
                flex-direction: column;
                flex: 0 0 45%;
            }
        }
    }
    .container-header{
        display: flex;
        margin-left: 2em;
        margin-right: 2em;
        &>img{
            order: -5;
            flex: 0 0 35%;
            min-width: 0%;
            max-width: 300px;
            height: auto;
            align-self: center;
        }
        &>.heading-support{
            display: none;
        }

        &>.heading-search{
            display: flex;
            flex: 0 0 45%;
            align-self: center;
        }
        &>i{
            display: none;
        }
        &>.btn-sidebar{
            align-self: center;
            justify-content: center;
            flex:0 0 10%;
        }

    }

    .container-banner{
        min-height: 50vh;
        max-height: 75vh;
        text-align: center;
        align-items: center;
        .banner-div{
            margin-bottom: 10px;
            & > p{
                margin-left: -15px;
            }
        }
    }
}
@media screen and (min-width:992px) and (max-width:1259px) {
    .container-our-services{
        &>*>.our-services-top{
            display: flex;
            flex-direction: row;
            &>*{
                display: flex;
                flex-direction: column;
                flex: 0 0 30%;
            }
        }
        &>*>.our-services-bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &>*{
                display: flex;
                flex-direction: column;
                flex: 0 0 45%;
            }
        }
    }

    .container-header{
        display: flex;
        margin-left: 2em;
        margin-right: 2em;
        &>img{
            order: -5;
            flex: 0 0 40%;
            min-width: 0%;
            max-width: 300px;
            height: auto;
            align-self: center;
        }
        &>.heading-support{
            display: flex;
            align-self: center;
            justify-content: end;
            &>*{
                width:100%
            }
            flex: 0 0 40%;
        }

        &>.heading-search{
            display: flex;
            align-self: center;
            flex: 0 0 10%;
            justify-content: end;
            &>.search-box{
                display: none;
            }
        }
        &>i{
            display: none;
        }
        &>.btn-sidebar{
            align-self: center;
            justify-content: end;
            flex:0 0 10%;
        }

    }
}

@media screen and (min-width:767px) and (max-width:1259px){
//header, Our services, latest news
    .container-news{
        display: flex;
        flex-direction: column;
        &>.news-header{
            display: flex;
            align-items: center;
            &>h2{
                text-align: left;
                margin-right: auto;
            }
            &>a{
                text-align: right;
                margin-left: auto;
            }
        }
        &>.container-news-stories{
            display: flex;
            flex-direction: row;
            column-count: 2;
            
            &>*>.container-news-3{
                display: none;
            }
            &>*>.container-news-2{
                display: flex;
                    flex-direction: column;
                    flex:0 0 50%;
            }
            &>*>.container-news-1{
                display: flex;
                    flex-direction: column;
                    flex:0 0 50%;
            }
        }
        &>.news-footer{
            display: none;
        }
    }
    
    
}

@media screen and (min-width:1260px){
//footer, Our services, latest news
    .container-footer{
        column-count: 5;
        flex-direction: row;
        display: inline-flex;
        flex: 1 0 20%;
    }

    .container-news{
        &>.news-header{
            display: flex;
            align-items: center;
            &>h2{
                text-align: left;
                margin-right: auto;
            }
            &>a{
                text-align: right;
                margin-left: auto;
            }
        }
        &>.container-news-stories{
            
            display: flex;
            flex-direction: row;
            column-count: 3;
            
            &>*{
                display: flex;
                    flex-direction: column;
                    flex:0 0 32%;
            }
        }
        &>.news-footer{
            display: none;
        }
    }
    .inverse-row{
        display: flex;
        flex-direction: row;
        flex: 0 0 100%;
        &>*{
            flex: 0 0 45%;
        }
    }
    .container-our-services{
        &>*>.our-services-top{
            display: flex;
            flex-direction: row;
            &>*{
                display: flex;
                flex-direction: column;
                flex: 0 0 32%;
            }
        }
        &>*>.our-services-bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &>*{
                display: flex;
                flex-direction: column;
                flex: 0 0 23%;
            }
        }
    }

    .container-header{
        display: flex;
        margin-left: 2em;
        margin-right: 2em;
        &>img{
            order: -5;
            flex: 0 0 40%;
            min-width: 0%;
            max-width: 300px;
            height: auto;
            align-self: center;
        }
        &>.heading-support{
            display: flex;
            align-self: center;
            justify-content: end;
            &>*{
                width:100%
            }
            flex: 0 0 25%;
        }

        &>.heading-search{
            display: flex;
            align-self: center;
            flex: 0 0 25%;
            justify-content: end;
        }
        &>i{
            display: none;
        }
        &>.btn-sidebar{
            align-self: center;
            justify-content: end;
            flex:0 0 10%;
        }
    }

}
@media screen and (min-width:922px){
    .container-sign-up{
        display: flex;
        flex-direction: row;
        gap:10px;
        &>.container-sign-up-field{
            display: flex;
            flex-direction: column;
            flex: 0 0 50%;
        }

    }

    .container-inverse{
        display: flex;
        flex-direction: row;
        &>.container-inverse-welcome{
            display: flex;
            flex-direction: column;
        }
        &>.container-inverse-reviews{
            display: flex;
            flex-direction: column;
        }
    }

    .container-navbar{
        display: flex;
        &>.navbar{
            display: flex;
            flex: 0 0 95%;
            &>.navbar-content{
                display: flex;
                flex-direction: column;
                justify-self: space-evenly;
                flex: 0 0 14%;
                &>*{
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .container-banner {
        height:75vh;
        & .banner-div{
            margin-top: 50px;
            margin-bottom: auto;
            & p{
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width:991px){
    nav{
        display: none;
    }
    
    .container-inverse {
        & &-welcome h2{
            padding-top: 20px;
        }
    }

}
.awards-row{
    display: flex;
    flex-direction: row;
    flex:0 0 95%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    &>.award-images{
        position: relative;
        display: inline-block;
        & .colored{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
        &:hover .colored{
            display: inline;
        }
    }
}

input{
    line-height: 2em;
    width:100%;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    color:$primary-color;
}
p,h3{
    margin-left: 15px;
}
li{
    list-style:none;
}
.center {
    margin-left: 2em;
    margin-right: 2em;
    
}
.view-all{
    text-decoration: none;
    font-size: 2em;
    &:visited{
    text-decoration: none; 
    }
    &:hover{
        text-decoration: underline;
    }
}
a, a:visited{
    text-decoration: none;
    color: $primary-color;

}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 1em;
}
h2{
    font-size: 3em;
}
h4 {
    text-transform: uppercase;
    margin-left: 20px;
}

main,footer,form{
    margin-bottom: 0px;
    margin-top: 0px;
}

#h2-left{
    text-align: left
}

.gap {
    gap: 20px 20px;
}

.start{
    align-self: flex-start;
    margin-right: auto;
}
.end{
    margin-left: auto;
    align-items: flex-end;
    margin-right: 20px;
}
.pushbottom{
    margin-top: auto;
    margin-bottom: 20px;
}
.pushtop{
    margin-top: 0;
    margin-bottom: auto;
}





