footer{
    background-color:$primary-color;
    color: $secondary-color;
}
.footer-links{
    color:$secondary-color;
    &:visited{
        color: $secondary-color;
    }
}
.copyright{
    padding-top: 5px;
    border-top: solid $secondary-color 1px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    & .start{
        flex: 0 0 75%;
        justify-self: start;
        align-self: center;
    }
    & .end{
        display: flex;
        flex: 0 0 20%;
        justify-self: end;
        margin-left:auto;
        align-self: center;
        & *{
            justify-self: space-around;
            flex:0 0 20%;
        }
    }
    
}

li>a{
    color: $secondary-color;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}