.container-news{
    margin-bottom: 50px;
    & * {
        & div a div{
            justify-content: space-between;
            justify-items: space-between;
            &:first-child {
                margin-top: 20px;
                flex: 0 0 24%;
            }
            & .news-info {
                flex: 0 0 24%;
                
            }
            & button {
                flex: 0 0 24%;
            }
        }  
    }
    &-1{
        box-shadow: 0 0 5px #bebebe;
        max-height:110vh;
        border-radius: 0 0 2% 2%;
        text-align: left;
        flex:0 0 100%;
        
    }
    &-2{
        box-shadow: 0 0 5px #bebebe;
        max-height:110vh;
        border-radius: 0 0 2% 2%;
        text-align: left;
        flex:0 0 100%;
        
    }
    &-3{
        box-shadow: 0 0 5px #bebebe;
        max-height:110vh;
        border-radius: 0 0 2% 2%;
        text-align: left;
        flex:0 0 100%;
    }
}
.news-item{
    &-1{
        margin-bottom: auto;
        &-btn{
            background-color: $first-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$first-news;
    }
    &-2{
        margin-bottom: auto;
        &-btn{
            background-color: $second-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color:$second-news;
    }
    &-3{
        margin-bottom: auto;
        &-btn{
            background-color: $third-news;
            color:$secondary-color;
            border-bottom: 5px 5px;
            padding: 10px;
            border-style: none;
            align-self: start;
            margin-left: 1em;
        }
        color: $third-news
    }
}
.images{
    width: 100%;
}

.posted{
    padding-top: 20px;
    border-top: solid 1px grey;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img{
        flex: 0 0 20%;
        justify-content: center;
        align-self: center;
        margin: auto;
        height: 50px;
        width: 50px;
    }
    & p {
        flex: 0 0 70%;
    }
}

.move-up{
    @include move-up();
}